
/* Reset default styles */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }}
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    background-image: url('backk.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  }
  
  /* Header styles */
  header {
    background-color: white;
    color: #fff;
    height: 82px;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  /* Logo styles */
  .logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
  }
  
  nav li {
    list-style: none;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    padding: 20px;
    font-size: 24px;
  }
  
  nav a:hover {
    background-color: #eb3d26;
    color: white;
    opacity: .7;  }
  
  /* Main styles */
  main {
    padding: 50px 0;
  }
  
  /* Menu styles */
  #menu {
    background-color: white;
    padding: 50px;
    box-shadow: 0 0 50px #ccc;
    margin-bottom: 50px;
  }
  
  #menu h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: bold;
  }
  
  #menu nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    justify-content: center;
  }
  
  #menu nav a {
    color: #eb3d26;
    text-decoration: none;
    font-size: 24px;
    padding: 10px 20px;
    border: 2px solid #F05742;
    border-radius: 5px;
    transition: all 0.2s ease;
  }
  
  #menu nav a.active {
    background-color: #F05742;
    color: #fff;
  }
  
  #menu nav a:hover {
    background-color: #F05742;
    color: #fff;
  }
  
  #menu .menu-item {
    display: none;
  }
  
  #menu .menu-item.active {
    display: block;
  }
  
  #menu ul {
    list-style: none;
    margin-top: 20px;
  }
  #menu ul li {
    margin-bottom: 10px;
  }
  
  #menu ul li img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  #menu ul li h3 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  #menu ul li p {
    font-size: 18px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  #menu ul li .price {
    font-size: 24px;
    font-weight: bold;
    color: #F05742;
  }
  
  /* About Us styles */
  #about-us {
    background-color: #F05742;
    color: #fff;
    padding: 50px;
  }
  
  #about-us h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
  }
  
  /* Contact Us styles */
  #contact-us {
    background-color: #fff;
    padding: 50px;
    box-shadow: 0 0 10px #ccc;
  }
  
  #contact-us h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
  }
  
  #contact-us form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  
  #contact-us label {
    width: 100%;
    margin-bottom: 20px;
    font-size: 18px;
  }
  
  #contact-us input, #contact-us textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 18px;
  }
  
  #contact-us input[type='submit'] {
    background-color: #F05742;
    color: #fff;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  #contact-us input[type='submit']:hover {
    background-color: #eb3d26;
  }
  
  /* Footer styles */
  footer {
    font-size: x-small;
    background-color: #b7b7b7;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

.hidden {
  display: none;
}

.container {
  position: relative;
  overflow: hidden;
}

.image-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.image {
  width: 50%;
}

.left-arrow, .right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 36px;
  color: #333;
  cursor: pointer;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}

.nav-bar{
      background-color: #F05742;
    padding: 20px;
    

}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: auto;
}



/* Slider */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  width: 100%;
    height: 468px;
    margin-top: 35px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
  }